{% extends "base.html" %}

{% block title %}Lincoln Gym Control{% endblock %}

{% block content %}
<h1>Gym Control</h1>

<hr/>

<div class="well">
    <canvas id="gyms" height="500"></canvas>
</div>

<h1>All Time Stats</h1>

<hr/>

<div class="row">
  <div class="col-md-4">
    <div class="well text-center">
      <h2 class="text-info">Mystic</h2>
      <h3 style="font-size:40px">{{ stats.mystic_pct|floatformat:2 }}%</h3>
      <p>Min: <b>{{ stats.mystic_min }}</b> Max: <b>{{ stats.mystic_max }}</b></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well text-center">
      <h2 class="text-danger">Valor</h2>
      <h3 style="font-size:40px">{{ stats.valor_pct|floatformat:2 }}%</h3>
      <p>Min: <b>{{ stats.valor_min }}</b> Max: <b>{{ stats.valor_max }}</b></p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well text-center">
      <h2 class="text-warning">Instinct</h2>
      <h3 style="font-size:40px">{{ stats.instinct_pct|floatformat:2 }}%</h3>
      <p>Min: <b>{{ stats.instinct_min }}</b> Max: <b>{{ stats.instinct_max }}</b></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  Chart.Controller.prototype.getElementsAtEvent = function(e) {
    var helpers = Chart.helpers;
    var eventPosition = helpers.getRelativePosition(e, this.chart);
    var elementsArray = [];

    var found = (function() {
      if (this.data.datasets) {
        for (var i = 0; i < this.data.datasets.length; i++) {
          if (helpers.isDatasetVisible(this.data.datasets[i])) {
            for (var j = 0; j < this.data.datasets[i].metaData.length; j++) {
              if (this.data.datasets[i].metaData[j].inLabelRange(eventPosition.x, eventPosition.y)) {
                return this.data.datasets[i].metaData[j];
              }
            }
          }
        }
      }
    }).call(this);

    if (!found) {
      return elementsArray;
    }

    helpers.each(this.data.datasets, function(dataset, dsIndex) {
      if (helpers.isDatasetVisible(dataset)) {
        elementsArray.push(dataset.metaData[found._index]);
      }
    });

    return elementsArray;
  };

  var gymChart = new Chart($('#gyms'), {
    type: 'line',
    data: {
      labels: [{% for l in labels %}new Date('{{ l|date:"D d M Y" }} {{ l|time:"H:i" }}'),{% endfor %}],
      datasets: [{
        label: 'Mystic',
        backgroundColor: "rgb(54, 162, 235)",
        borderColor: "rgb(54, 162, 235)",
        fill: false,
        data: {{ mystic | safe }},
      },{
        label: 'Valor',
        backgroundColor: "rgb(255, 99, 132)",
        borderColor: "rgb(255, 99, 132)",
        fill: false,
        data: {{ valor | safe }},
      },{
        label: 'Instinct',
        backgroundColor: "rgb(255, 205, 86)",
        borderColor: "rgb(255, 205, 86)",
        fill: false,
        data: {{ instinct | safe }},
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        mode: 'label',
        intersect: false
      },
      hover: {
        mode: 'label'
      },
      scales: {
        xAxes :[{
          type: 'time',
          time: {
            tooltipFormat: 'MMM D YYYY h:mm A',
            unit: 'day'
          }
        }]
      }
    }
  });
</script>
{% endblock %}