{% extends "base.html" %}

{% load compress staticfiles %}

{% block title %}Lincoln Gym Control{% endblock %}

{% block content %}
<h1>Lincoln Gym Control</h1>

<hr/>

<ul class="nav nav-tabs">
  <li class="active"><a href="#day" data-toggle="tab" onclick="filterData(1);">Past Day</a></li>
  <li><a href="#week" data-toggle="tab" onclick="filterData(7);">Past Week</a></li>
  <li><a href="#all" data-toggle="tab" onclick="filterData(1000000);">Past 30 Days</a></li>
</ul>

<div class="well" style="height:450px;">
  <div id="pokeball">
    <img src="{% static 'img/pokeball.gif' %}" style="padding:75px calc(50% - 100px);">
  </div>
  <canvas id="gyms" height="400" style="display:none;
  "></canvas>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="well text-center">
      <h2 class="mystic">Mystic</h2>
      <h3 style="font-size:40px" data-bind="text: avgMystic"></h3>
      <p>Min: <b class="text-danger" data-bind="text: minMystic"></b> Max: <b class="text-success" data-bind="text: maxMystic"></b></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well text-center">
      <h2 class="valor">Valor</h2>
      <h3 style="font-size:40px" data-bind="text: avgValor"></h3>
      <p>Min: <b class="text-danger" data-bind="text: minValor"></b> Max: <b class="text-success" data-bind="text: maxValor"></b></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well text-center">
      <h2 class="instinct">Instinct</h2>
      <h3 style="font-size:40px" data-bind="text: avgInstinct"></h3>
      <p>Min: <b class="text-danger" data-bind="text: minInstinct"></b> Max: <b class="text-success" data-bind="text: maxInstinct"></b></p>
    </div>
  </div>
</div>


<h3>Past 3 Hours</h3>

<hr/>

<table class="table table-striped table-hover">
  <thead>
    <th>Time</th>
    <th>Mystic</th>
    <th>Valor</th>
    <th>Instinct</th>
  </thead>
  <tbody data-bind="foreach: recent().reverse()">
    <tr>
      <td data-bind="text: time"></td>
      <td data-bind="text: mystic" class="mystic"></td>
      <td data-bind="text: valor" class="valor"></td>
      <td data-bind="text: instinct" class="instinct"></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/gyms.js' %}"></script>
<script>
  var model = new GymViewModel();
  var chart = new Chart($('#gyms'), {
    type: 'LineWithLine',
    data: {
      labels: model.labels(),
      datasets: model.chartData()
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      tooltips: {
        mode: 'label',
        intersect: false
      },
      hover: {
        mode: 'label'
      },
      scales: {
        xAxes :[{
          type: 'time',
          time: {
            tooltipFormat: 'MMM D YYYY h:mm A',
            unit: 'hour'
          }
        }]
      },
      elements: {
        point: {
          radius: 0
        }
      }
    }
  });

  function filterData(num) {
    model.filter(num);
    if(num == 1) {
      chart.options.scales.xAxes[0].time.unit = 'hour';
    } else {
      chart.options.scales.xAxes[0].time.unit = 'day';
    }
    chart.data.labels = model.labels();
    chart.data.datasets = model.chartData();
    chart.update();
  }

  $(document).ready(function(){
    $.get("{% url 'gym-data' %}", function(data){
      for(var key in data){
        var log = data[key];
        model.gymLogs.push(
          new GymLog(new Date(log.created_at), log.mystic, log.valor, log.instinct)
        );
      }
    });
    ko.applyBindings(model);
    setTimeout(function(){
      filterData(1);
      $('#pokeball').hide();
      $('#gyms').show();
    }, 1000);
  });
</script>
{% endcompress %}
{% endblock %}