{% extends "base.html" %}

{% load staticfiles trainer_tags %}

{% block title %}Raid Leaderboard{% endblock %}

{% block content %}
<h1>Raid Leaderboard {% if user.is_authenticated %}<a href="{% url 'raid-record-create' %}" class="btn btn-primary btn-md">Submit new Time</a>{% endif %}</h1>

<p>Are you the very best? Submit your best Raid boss solo attempts and see how you stack up against the other players in Lincoln!</p>

<hr/>

<div class="well">
  <table class="table table-striped">
    <thead>
      <th>Boss</th>
      <th class="hidden-xs">Tier</th>
      <th>Leader</th>
      <th>Time Remaining</th>
      <th class="hidden-xs">Date</th>
    </thead>
    <tbody>
      {% for raid in raids %}
      <tr>
        <td><a href="{{ raid.url }}"><img src="{{ raid.image }}" height="45" style="margin-top:-10px;margin-bottom:-5px;"/> {{ raid }}</a></td>
        <td class="hidden-xs">{% for x in raid.tier|times %}<img src="{% static 'img/raid_boss.png' %}"/>{% endfor %}</td>
        {% with raid.leader as leader %}
        <td>{% if leader %}<img src="{% static leader.trainer.team_image %}" height="20"/> {{ leader.trainer.username }}{% else %}???{% endif %}</td>
        <td>{% if leader %}{{ leader.time_remaining }} seconds{% else %}???{% endif %}</td>
        <td class="hidden-xs">{% if leader %}{{ leader.date }}{% else %}???{% endif %}</td>
        {% endwith %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}