{% extends "base.html" %}

{% load staticfiles humanize pokemon %}

{% block title %}PvP Team Analysis{% endblock %}

{% block content %}
<h1>PvP Stat Analysis</h1>

<p>Choose a pokemon from the list to see the top 50 ideal IV spreads for the chosen league</p>

<form method="get">
  <select name="pokemon" class="form-control" style="max-width:400px;display: inline;margin-right: 10px;">
    {% for choice in choices %}
    <option value="{{ choice }}" {% if choice == pokemon %}selected{% endif %}>{{ choice }}</option>
    {% endfor %}
  </select>
  <select name="max_cp" class="form-control" style="max-width: 200px;display: inline;margin-right: 10px;">
    <option value="1500" {% if max_cp == 1500 %}selected{% endif %}>Great League</option>
    <option value="2500" {% if max_cp == 2500 %}selected{% endif %}>Ultra League</option>
  </select>
  <input type="submit" value="View Stats" class="btn btn-primary"/>
</form>
<hr/>

<div class="well">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Level</th>
        <th>Att IV</th>
        <th>Def IV</th>
        <th>HP IV</th>
        <th>CP</th>
        <th>Stat Product</th>
        <th>Efficiency</th>
      </tr>
    </thead>
    <tbody>
      {% for c in combos %}
      <tr>
        {% for stat in c %}
        <td>{{ stat }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
