// Import our variables
@import 'variables';

// Import bootstrap, our variables will be used
@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

// Import our components
@import 'components/alert.scss';
@import 'components/navbar.scss';
@import 'components/page.scss';

body, html {
  background-color: #F8F9F9;
}

.well {
  background-color: #fff;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 5px lighten($text-color, 60%);
  h5 {
    font-size: 1.4em;
  }
}

.footer {
  background-color: #e7e7e7;
  padding: 20px 0;
  height: 90px;
  margin-top: -90px;
  .copyright {
    float: right;
    color: lighten($text-color, 20%);
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: white;
}

.mystic {
  color: rgb(54, 162, 235);
}

.valor {
  color: rgb(255, 99, 132);
}
.instinct {
  color: rgb(255, 205, 86);
}

.pokemon {
  img {
    max-height: 96px;
    max-width: 96px;
  }
}

.progress {
  height: 30px;
  .progress-bar {
    line-height: 30px;
    font-size: 14px;
  }
}

.type-icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 5px;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  img {
    max-height: 30px;
    max-width: 100%;
    margin: auto;
  }
}
