/*
 * All available variables can be found here:
 * ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

// Colors
$text-color: #3d3f41;
$brand-primary: #555;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;


// Borders
$border-radius-base: 1px;