.navbar-default {
  background-color: $body-bg;

  .navbar-brand {
    padding: 5px 15px;
    img {
      height: 40px;
    }
  }
  
  .navbar-nav {
    li {
      a {
        color: $text-color;
        &:hover {
          color: darken($text-color, 10%);
        }
      }
    }
  }
  margin-bottom: 0;
}
