{% extends "base.html" %}

{% block title %}Legal{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h3>Copyright</h3>
    <p>Pokémon and all associated names and images are © of Nintendo 1996-2017</p>
    <hr/>
    <h3>Privacy Policy</h3>
    <p>This site uses cookies to store information, such as your personal preferences when you visit our site. This could include maintaining your user session or language preferences.</p>
    <p>If you register to create an account, we’ll collect certain information that can be used to identify or recognize you. Specifically, because you must have an account with Facebook before registering to create an account, we will collect information, such as your email address, that your privacy settings with Facebook permit us to access.</p>
  </div>
</div>
{% endblock %}