{% extends "base.html" %}

{% load staticfiles trainer_tags %}

{% block title %}Pokemon Leaderboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8">
      <h1>Pokemon Leaderboard</h1>
  </div>
  <div class="col-sm-4">
    <br/>
    <label for="ordering">Order By</label>
    <select class="form-control" id="ordering" name="ordering">
      {% for order, description in orderings %}
      <option value="{{ order }}" data-href="?{% url_replace request 'ordering' order %}" {% if request.GET.ordering and request.GET.ordering == order %}selected="selected"{% endif %}>{{ description }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<br/>
<div class="well">
  <table class="table table-striped table-hover">
    <thead>
      <th>Species</th>
      <th>CP</th>
      <th>Ivs</th>
      <th class="hidden-xs">Moves</th>
      <th>Trainer</th>
    </thead>
    <tbody>
      {% for pokemon in object_list %}
      <tr>
        <td><img src="{% static pokemon.image %}" height="50"/> {{ pokemon.name }}</td>
        <td>{{ pokemon.cp }}</td>
        <td>{% if pokemon.iv_pct %}{{ pokemon.iv_pct|floatformat:1 }}%{% else %}???{% endif %}</td>
        <td class="hidden-xs">{% if pokemon.fast_move and pokemon.charge_move %}{{ pokemon.fast_move }} / {{ pokemon.charge_move }}{% else %}???{% endif %}</td>
        <td><a href="{{ pokemon.trainer.url }}">{{ pokemon.trainer.username }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<center>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="">&laquo;</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
      <li {% if page_obj.number == i %} class="active" {% endif %}>
        <a href="?{% url_replace request 'page' i %}">{{ i }}</a>
      </li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</center>
{% endblock %}

{% block scripts %}
<script>
$('#ordering').change(function(){
  window.location = $(this).find(":selected").data('href');
});
</script>
{% endblock %}
