{% extends "base.html" %}

{% load humanize staticfiles %}

{% block title %}{{ object.username }} | Lincoln Pokemon Go Stats{% endblock %}

{% block content %}
<br/>
<a href="{% url 'trainers' %}">< Back to all Trainers</a>
<hr style="border:none;"/>
<style>
  img {
    max-width: 100%;
  }
</style>
<div class="row">

  <div class="col-md-4">
    <div class="well text-center">
      <h1>{{ object.username }}{% if user == object.user %} <a href="{% url 'trainer-edit' username=object.username %}" class="btn btn-lg btn-primary">Edit</a>{% endif %}</h1>
      <hr/>
      <i>Last Updated: {{ object.updated_at | date }}</i>
      <h3>Level {{ object.level }} <img src="{% if trainer.team == 1 %}{% static 'img/mystic.png' %}{% elif trainer.team == 2 %}{% static 'img/valor.png' %}{% else %}{% static 'img/instinct.png' %}{% endif %}" height="30"/></h3>
      <h5>{{ object.xp | intcomma }} XP</h5>
      <h5>{{ object.pokedex_number }} Species Caught</h5>
      <h5>{{ solos }} Solo Raid{{ solos|pluralize }}</h5>
      <hr/>
      <div class="row">
        <div class="col-xs-3">
          <img src="{% static 'img/medals/collector.png' %}"/>
          <span>{{ object.pokemon_caught | intcomma }}</span>
        </div>
        <div class="col-xs-3">
          <img src="{% static 'img/medals/backpacker.png' %}"/>
          <span>{{ object.pokestops_spun | intcomma }}</span>
        </div>
        <div class="col-xs-3">
          <img src="{% static 'img/medals/breeder.png' %}"/>
          <span>{% if object.eggs_hatched %}{{ object.eggs_hatched | intcomma }}{% else %}?{% endif %}</span>
        </div>
        <div class="col-xs-3">
          <img src="{% static 'img/medals/jogger.png' %}"/>
          <span>{{ object.kilometers_walked | intcomma }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <img src="{% static 'img/medals/battle_girl.png' %}"/>
          <span>{{ object.battles_won | intcomma }}</span>
        </div>
        <div class="col-xs-3">
          <img src="{% static 'img/medals/berry_master.png' %}"/>
          <span>{% if object.berries_fed %}{{ object.berries_fed | intcomma }}{% else %}?{% endif %}</span>
        </div>
        <div class="col-xs-3">
          <img src="{% static 'img/medals/gym_leader.png' %}"/>
          <span>{% if object.hours_defended %}{{ object.hours_defended | intcomma }}{% else %}?{% endif %}</span>
        </div>
      </div>
      <canvas id="trainer-radar" height="150"></canvas>
      <hr/>
      <h2>Badges {% if user == object.user %} <a href="{% url 'badge-application' %}" class="btn btn-lg btn-primary">Apply for a Badge</a>{% endif %}</h2>
      <hr/>
      <div class="row">
        {% for badge in object.trainer_badges.all %}
        <div class="col-xs-3" style="margin-bottom:10px;">
          <a href="#" data-toggle="tooltip" title="{{ badge.badge.name }}">
            <img src="{{ badge.badge.logo.url }}" style="max-height:50px;"/>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="well text-center">
      <h2>Pokemon Showcase</h2>
      <hr/>
      <div class="row">
      {% for pokemon in trainer.favorite_pokemon.all %}
        <div class="col-sm-3 col-xs-6">
          <div class="pokemon">
            <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}"/><br/>
            <span><b>{{ pokemon.cp }}</b>{% if pokemon.iv %} ({{ pokemon.iv|floatformat:1 }}%){% endif %}</span><br/>
            <span>{{ pokemon.fast_move }}</span><br/>
            <span>{{ pokemon.charge_move }}</span>
          </div>
        </div>
      {% empty %}
        {% if user == object.user %} 
        <div class="col-sm-12 text-center">
          <a href="{% url 'trainer-edit' username=object.username %}" class="btn btn-lg btn-primary">Add Pokemon!</a>
        </div>
        {% else %}
        <div class="col-sm-12 text-center">
          <p>None :(</p>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <div class=" well text-center">
      <h2>Stats</h2>
      <hr/>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <canvas id="trainer-xp" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="trainer-catches" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="trainer-spins" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="trainer-battles" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="berries" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="defending" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="trainer-kms" height="150"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
          <canvas id="eggs-hatched" height="150"></canvas>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();

    var scales = {
        xAxes: [{
          type: "time",
          time: {
            format: 'MM/DD/YYYY HH:mm',
            tooltipFormat: 'll HH:mm'
          },
        }],
    }

    var labels =  [{% for u in updates %}new Date('{{ u.created_at|date:"D d M Y" }} {{ u.created_at|time:"H:i" }}'), {% endfor %}]

    new Chart($('#trainer-xp'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "XP",
          data: [{% for u in updates %}{{ u.xp }},{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "XP",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#trainer-catches'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "Pokemon Caught",
          data: [{% for u in updates %}{{ u.pokemon_caught }},{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "Pokemon Caught",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#trainer-spins'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "Pokestops",
          data: [{% for u in updates %}{{ u.pokestops_spun }},{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "Pokestops",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#trainer-battles'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "Battles Won",
          data: [{% for u in updates %}{{ u.battles_won }},{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "Battles Won",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#trainer-kms'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "KMs Walked",
          data: [{% for u in updates %}{{ u.kilometers_walked }},{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "KMs Walked",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#berries'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "Berries Fed",
          data: [{% for u in updates %}{% if u.berries_fed %}{{ u.berries_fed }},{% endif %}{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "Berries Fed",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#defending'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "Hours Defended",
          data: [{% for u in updates %}{% if u.hours_defended %}{{ u.hours_defended }},{% endif %}{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "Hours Defended",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    new Chart($('#eggs-hatched'), {
      type: 'LineWithLine',
      data: {
        labels: labels,
        datasets: [{
          lineTension: 0,
          label: "Eggs Hatched",
          data: [{% for u in updates %}{% if u.eggs_hatched %}{{ u.eggs_hatched }},{% endif %}{% endfor %}],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        scales: scales,
        title: {
          display: true,
          text: "Eggs Hatched",
        },
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        }
      }
    });

    var radar = new Chart($("#trainer-radar"), {
      type: 'radar',
      data: {
        labels: [
          'Experience', 'Pokemon Caught', 'Pokestops Spun', 'Pokedex Entries', 'Kilometers Walked',
          'Battles Won', 'Eggs Hatched', 'Hours Defended', 'Berries Fed'
        ],
        datasets: [{
          label: "{{ object.username }}",
          scaleOverride: true,
          scaleSteps: 10,
          scaleStepWidth: 10,
          scaleStartValue: 0,
          data: [
            ({{ xp }} * 100).toFixed(0),
            ({{ pc }} * 100).toFixed(0),
            ({{ ps }} * 100).toFixed(0),
            ({{ pn }} * 100).toFixed(0),
            ({{ kw }} * 100).toFixed(0),
            ({{ bw }} * 100).toFixed(0),
            ({{ eh }} * 100).toFixed(0),
            ({{ hd }} * 100).toFixed(0),
            ({{ bf }} * 100).toFixed(0),
          ],
          backgroundColor: "rgba(54, 162, 235, 0.2)",
          borderColor: "rgb(54, 162, 235)",
          pointBackgroundColor: "rgb(54, 162, 235)",
          pointBorderColor:" #fff",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgb(54, 162, 235)"
        }]
      },
      options: {
        responsive: true,
        legend: {
          display: false
        },
        scale: {
          display: true,
          ticks: {
            suggestedMax: 100,
            suggestedMin: 0
          }
        },
        title: {
          display: true,
          text: "Trainer Percentiles"
        },
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function(tooltipItems, data) { 
              return tooltipItems.yLabel + '%';
            }
          }
        },
     } 
    });
});
</script>
{% endblock %}
